<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css"
        />
        <link rel="stylesheet" href="/static/style.css" />
        <title>MapApp</title>
    </head>
    <body>
        <div id="map"></div>
        <div id="info-box"></div>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
