<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css"
        />
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>MapApp</title>
    </head>
    <body>
        <div id="map"></div>
        <div id="legend-box">
            <h2>Visited</h2>
            <p>⚫ Both</p>
            <p>🟡 Never</p>
            <p>🔵 Winter</p>
            <p>🟠 Summer</p>
        </div>
        <div class="box" id="sky-box">
            <button class="button" id="night">🌙</button>
            <button class="button" id="day">🌞</button>
        </div>
        <div class="box" id="layer-box">
            <button class="button" id="whale">🐳</button>
            <button class="button" id="other">🌍</button>
        </div>
        <div class="box" id="map-box">
            <button class="button" id="satellite">🛰️</button>
            <button class="button" id="streets">🧭</button>
        </div>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
        <script type="module" src="/static/script.js"></script>
    </body>
</html>
