/********** BASE **********/

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --dark: #0d1117;
    --darkest: #000000;
    --light: #c9d1d9;
    --grey: #8b949e;
    --greyer: #30363d;
    --blue: #58a6ff;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

/********** CLASSES **********/

.btn-box {
    gap: 10px;
    z-index: 1;
    display: flex;
    position: absolute;
    padding: 10px 20px;
    border-radius: 50px;
    align-items: center;
    color: var(--light);
    border: 1px solid var(--greyer);
    background-color: var(--dark);
    box-shadow: 0 4px 6px var(--darkest);
}

.txt-box {
    z-index: 1;
    top: 10px;
    left: 10px;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    color: var(--light);
    border: 1px solid var(--greyer);
    background-color: var(--dark);
    box-shadow: 0 4px 6px var(--darkest);
}

.txt-box h2 {
    color: var(--blue);
}

.btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--light);
    border: 1px solid var(--grey);
    background-color: var(--greyer);
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    color: var(--dark);
    background-color: var(--blue);
}

.btn:focus {
    outline: none;
    border: 1px solid var(--blue);
    box-shadow: 0 0 5px var(--blue);
}

.btn {
    color: var(--light);
    background-color: var(--dark);
}

.popup-container {
    top: 10px;
    left: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.popup-container h2 {
    color: var(--darkest);
}

/********** IDS **********/

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#area-box {
    top: 20px;
    right: 10px;
}

#sky-box {
    top: 100px;
    right: 10px;
}

#map-box {
    top: 180px;
    right: 10px;
}

#screen {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 10px;
    width: 68px;
}

#info {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right: 10px;
    width: 68px;
}
